.psjp {
	background-color:#ba0d0d!important;
	color:#f3f3f3;
  font-family: 'Roboto Condensed', sans-serif!important;
}

.text-psjp-muted {
  color: #000;
}

.psjp-light-bg {
	background-color:#edeaea!important;
	color:#000;
}

.psjp-midlight-bg {
  background-color:#494646!important;
  color:#000;
}

.psjp-lighter-bg {
  font-color: #bf0f0f;
  background-color:#edeaea!important;
  color:#000;
}

.text-psjp-light-muted {
  color: #000;
}

.psjp-accent {
	color:#b70707!important;
}

a {
  color:#b70707!important;
}

.psjp-accent-btn {
  color:#f3f3f3!important;
  background-color:#b70707;
}

.psjp-accent-btn:hover {
  color:#f3f3f3!important;
  background-color:#b70707;
}

nav .brand-logo > img {
  display: block;
  height: 60px;
  padding: 6px 15px;
}
@media (min-width: 768px) {
  .navbar > .container .brand-logo,
  .navbar > .container-fluid .brand-logo {
    margin-left: -15px;
  }
}

.card .card-action:last-child, .card .card-content {
  border-radius: 0 0 10px 10px!important;
}

.card-nopadding {
  padding: 0px!important;
}

.card {
  border-radius:10px;
}

.card .card-image img {
  border-radius: 10px 10px 0 0!important;
}

.collapsible-noborder {
  border-top: 0px solid #000;
  border-right: 0px solid #000;
  border-left: 0px solid #000;
  border-bottom:0px solid #000;
}

.collapsible-header {
  border-radius: 10px 10px 10px 10px!important;
}

.collapsible-header:focus {
  border-radius: 10px 10px 0 0!important;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-muted {
  opacity:0.64;
}

.parallax-container {
  height: 450px;
}

.parallax-container .parallax img {
  opacity:0.60;
}

.overlay-parallax {
  position:absolute;
  display:inline;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.4);
}

.parallax-main-holder {
  position:relative;
  margin-top:18vh;
}

.psjp-intro {
  height:450px;
}