<div class="fixed-action-btn">
  <a class="btn-floating btn-large psjp-accent-btn">
    <svg style="width:36px;height:36px;margin-top:0.5em;" viewBox="0 0 24 24">
    <path fill="#f3f3f3" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
</svg>
  </a>
  <ul>
    <li><a class="btn-floating psjp-accent-btn tooltipped" data-position="left" data-tooltip="Join our Telegram chat!" href="https://t.me/persijapday">
    	<svg style="width:24px;height:24px;margin-top:0.5em;" viewBox="0 0 24 24">
    <path fill="#f3f3f3" d="M9.78,18.65L10.06,14.42L17.74,7.5C18.08,7.19 17.67,7.04 17.22,7.31L7.74,13.3L3.64,12C2.76,11.75 2.75,11.14 3.84,10.7L19.81,4.54C20.54,4.21 21.24,4.72 20.96,5.84L18.24,18.65C18.05,19.56 17.5,19.78 16.74,19.36L12.6,16.3L10.61,18.23C10.38,18.46 10.19,18.65 9.78,18.65Z" />
</svg>
    </a></li>
    <li><a class="btn-floating psjp-accent-btn tooltipped" data-position="left" data-tooltip="Follow us on Instagram!" href="https://instagram.com/persijapday">
<svg style="width:24px;height:24px;margin-top:0.5em;" viewBox="0 0 24 24">
    <path fill="#f3f3f3" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
</svg>
    </a></li>
  </ul>
</div>

<footer class="page-footer psjp-light-bg">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="red-text text-darken-4">PersijapDay</h5>
				<p class="red-text text-darken-4">Dedicate with Love for Our Pride.</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="red-text text-darken-4">Links</h5>
				<ul>
					<li><a class="red-text text-darken-4" href="https://persijapday.github.io">Home</a></li>
					<li><a class="red-text text-darken-4" href="{{- 'about' | relative_url -}}">About</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<a class="red-text text-darken-4" >© 2019 | PersijapDay</a>
		</div>
	</div>
</footer>