<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper psjp-light-bg">
      <a href="https://persijapday.github.io" class="brand-logo"><img src="{{- 'img/logo.png' | relative_url -}}" class="responsive-img circle avatar" alt="PersijapDay"></a>
      <a href="#" data-target="psjp-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="text-uppercase"><a href="https://persijapday.github.io">Home</a></li>
        <li class="text-uppercase"><a href="{{- 'about' | relative_url -}}">About us</a></li>
      </ul>
    </div>
  </nav>
</div>

  <ul class="psjp-midlight-bg sidenav" id="psjp-menu">
    <li{% if site.url == site.baseurl %} class="active"{% endif %}><a href="https://persijapday.github.io">Home</a></li>
    <li{% if site.url == site.baseurl %} class="active"{% endif %}><a href="{{- 'about' | relative_url -}}">About</a></li>
  </ul>